body {
    height: 5000px;
}

/*
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}*/
.container .col-md-6{
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;

}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.btn.btn-primary {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}